.card {
    margin-bottom: 20px;
    padding: 15px;
    height: 475px;
    background-color: #3498db;
    color: #fff;
    border: 2px solid #2980b9;
    border-radius: 8px;
}

.card-footer {
    background-color: whitesmoke;
    border-top: 1px solid #3498db;
    padding: 8px;
}

body {
    background-color: lightgreen;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
